@media (max-width:767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    background-image: url(../img/Rectangle\ 1.png);
    height: 735px;
    
  }

  .header {
    &__title {
      padding-top: 238px;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__text {
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
  .button {
    margin: 0 auto;
    display: block;
  }
  
  .menu {
    padding-bottom: 127px;
    &__list {
      padding-top: 12;
    }
  }
  
  .item {
    margin-top: 0;
  }
  
  .item-img {
    width: 343px;
  }


  .game-one {
    &__content {
      padding-top: 51px;
      display: flex;
      flex-direction: column;
      gap: 56px;
    
    }
    &__title {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__condition {
      margin-bottom: 32px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
  


.game-icon {
  width: 344px;
  height: 236px;
}


}