@media (max-width:767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    height: 735px;
    background-position-x: 31%;
  }

  .header {
    &__title {
      padding-top: 238px;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__text {
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
  .button {
    margin: 0 auto;
    display: block;
  }
  
  .menu {
    height: 1221px;
    &__list {
      padding-top: 12;
    }
  }
  
  .item {
    margin-top: 0;
  }
  
  .item-img {
    width: 343px;
  }

  
  .game-one {
    &__content {
      padding-top: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__title {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__condition {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    
    }
  }
  
.block-left {
  grid-column: span 4;
}

.game-icon {
  width: 344px;
  height: 236px;
}


}