* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  min-height: 1024px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  padding-bottom: 32px;
  padding-top: 218px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}
.header__text {
  max-width: 481px;
  padding-bottom: 44px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.header__text_bolt {
  font-weight: bold;
}

.button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: all 500ms ease;
}
.button .button:hover {
  background: #001944;
  color: #10ec52;
}

.menu {
  min-height: 556px;
  background: #000915;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.item {
  position: relative;
  margin-top: 128px;
  transition: all 1.2s;
}
.item-img {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  border-radius: 16px;
}
.item-link {
  position: absolute;
  z-index: 1;
  top: 236px;
  left: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.2s;
}
.item-link-link:hover {
  text-decoration: underline;
}

.item:hover {
  transform: scale(1.05);
}

.game-one {
  background-color: #000915;
}
.game-one__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game-one__condition {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.game-one__content {
  padding-top: 233px;
  padding-bottom: 233px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.block-left {
  grid-column: span 6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.block-right {
  grid-column: span 5;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-position-x: 31%;
  }
  .header__title {
    padding-top: 238px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .header__text {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .button {
    margin: 0 auto;
    display: block;
  }
  .menu {
    height: 1221px;
  }
  .menu__list {
    padding-top: 12;
  }
  .item {
    margin-top: 0;
  }
  .item-img {
    width: 343px;
  }
  .game-one__content {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .game-one__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .game-one__condition {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .block-left {
    grid-column: span 4;
  }
  .game-icon {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */